.todo {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  width: inherit;
  margin-top: 15px;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.todo::first-letter {
  text-transform: capitalize;
}

.todos__itemIcons {
  margin-left: 90px;
  font-size: 1.2rem !important;
}

.todos__itemIcons > .MuiSvgIcon-root {
  padding-right: 10px;
}

.todos__input {
  background-color: inherit;
  border: none;
  box-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  margin-top: 15px;
  outline: none;
  width: 500px;
}

.todo__title--complete {
  text-decoration: line-through;
  color: green;
}

.todo__complete {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todos__listHeader {
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  margin-top: 15px;
  font-size: 1.2rem;
}

.todo__complete {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .todos__input {
    width: 250px;
  }
  .todos__listHeader {
    width: inherit;
  }
}

.todos {
  margin-top: 10%;
}
